* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
body {
  background: #fff;
}
.btn {
  display: block;
  width: fit-content;
  height: 50px;
  border-radius: 10px;
  font-weight: 500;
  padding: 14px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 20px;
  transition: all ease 0.5s;
  cursor: pointer;
}
.btn-alpha {
  background-color: #fff;
  color: #f8312f;
}
.btn-alpha:hover {
  background-color: #f8312f;
  color: #fff;
}
.btn-beta {
  background-color: #f8312f;
  color: #fff;
}
.btn-beta:hover {
  background-color: #fff;
  color: #f8312f;
  border: 1px solid #f8312f;
}
.container h1 {
  font-size: 48px;
  font-weight: bold;
}
#header {
  width: 100%;
  height: 100px;
}
.container {
  padding: 20px 3%;
  max-width: 1270px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.logo {
  width: 140px;
}

.nav-btns {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Center the form and add a card-like effect */

#contact .container {
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h3 {
  font-size: 55px;
}
.container p {
  text-align: center;
}
.login-divide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 32px;
}
.right {
  width: 30%;
  height: 100%;
  background-image: url(../images/Contact\ us\ img.png);
  background-size: cover;
  background-position: center;
  border-radius: 32px;
}
.left {
  width: 70%;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.alpha {
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.field label {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.field input {
  width: 300px;
  margin: 0;
  font-size: 16px;
  padding: 10px;
  border-radius: 55px;
  border: 1px solid #d9d9d9;
}
textarea {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    resize: horizontal;
    border: 1px solid #d9d9d9;
  
}

/* ----------footer-------- */
#footer {
  line-height: 1.5;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 0px;
 border-top: 1px solid #e0b4b4;
  background-color: #FFF0F0;
}
ul {
  list-style: none;
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 20%;
  padding: 0 10px;
}
.footer-col h4 {
  font-size: 18px;
  color: #1f271b;
  margin-bottom: 25px;
  font-weight: 700;
  position: relative;
}

.footer-col h4::after {
  content: '';
  width: 0;
  height: 3px;
  background: #b80200;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.footer-col h4:hover::after {
  width: 50%;
  height: 2px;
}

.footer-col ul li {
  margin-bottom: 8px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  color: #1f271b;
  display: block;
  transition: 0.4s all ease;
  
}
.footer-col ul li a:hover {
  color: #b80200;
  padding-left: 10px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 2px 2px 0;
  background-color: #b80200;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 25px;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #b80200;
  background-color: #fff;
}

/* ---------Media Queries----- */
@media (max-width: 767px) {
  .about-us-right {
    display: none;
  }
  .footer-col {
    width: 30%;
    margin-bottom: 30px;
  }
}
@media (max-width: 540px) {
  .footer-col {
    width: 50%;
  }
}



#msg{
  color: #f8312f;
  margin-top: -40px;
  
}