* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
body {
  background: #fff;
}
.btn {
  display: block;
  width: fit-content;
  height: 50px;
  border-radius: 10px;
  font-weight: 500;
  padding: 14px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 20px;
  transition: all ease 0.5s;
  cursor: pointer;
}
.btn-alpha {
  background-color: #fff;
  color: #f8312f;
}
.btn-alpha:hover {
  background-color: #f8312f;
  color: #fff;
}
.btn-beta {
  background-color: #f8312f;
  color: #fff;
}
.btn-beta:hover {
  background-color: #fff;
  color: #f8312f;
  border: 1px solid #f8312f;
}
.container h1 {
  font-size: 48px;
  font-weight: bold;
}
#header {
  width: 100%;
  height: 100px;
  
}
.container {
  padding: 20px 3%;
  max-width: 1270px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.logo {
  width: 140px;
}

.nav-btns {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}



/* Style for the search input and button */
.search-input {
  display: flex;
  align-items: center;
  width: 300px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the search input and button horizontally */
}

#searchInput {
 
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  outline: none;
}

#searchButton {
  background-color: #007bff; /* Change the background color to your preferred color */
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#searchButton:hover {
  background-color: #0056b3; /* Change the hover background color */
}

/* Style for the search icon (Font Awesome icon) */
.fa-search {
  margin-right: 5px;
}





/* Center the form and add a card-like effect */
#register {
  max-width: 90%;
  margin: 30px auto;
  padding: 30px;
  background-color: #FBFBFB;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Style form headings */
h1 {
  font-size: 34px;
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
}

/* Style form fields and labels */
.field {
  margin-bottom: 25px;
  display: flex;
  
}
.input-field{
  display: flex;
  width: 100%;
  
}

label {
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
  color: #555555;
}

.label-gndr ,.label-gnder{
  width: auto;
  
}
.gender div{
  height: 30px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
.gender div label{
  padding-right: 15px;
}

input[type="text"],
input[type="email"],

select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  font-size: 14px;
  color: #333333;
  transition: border-color 0.3s;
}

.input-field input{
  width: 50%;
  margin-left: 6px;
  
  

}
textarea {
height:100px;
  width: 80%;
  resize: horizontal;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  border-color: #007bff;
}
.field{
  display: flex;
  width: 100%;

}
.left{
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.left textarea{
  width: 70%; 
}
.left label{
  width: 110px;
}
.left select{
  height: 50px;
  width: 70%;
}
.right{
  width: 50%;
}
.right .field input{
  width: 100%; 
}
.province-right{
  display: flex;
  height: fit-content;
  align-items: center;
}


.check{
  width: 70%;
 
  
}
.check label{
  width: 100%;
  font-size: 15px;
}
input[type="checkbox"]{
  width: 10%;
  padding: 2px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  font-size: 14px;
  color: #333333;
}

/* Add responsive styles */
@media (max-width: 768px) {
  #register {
    max-width: 100%;
    padding: 20px;
  }
}

/* ----------footer-------- */
#footer {
  line-height: 1.5;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 0px;
 border-top: 1px solid #e0b4b4;
  background-color: #FFF0F0;
}
ul {
  list-style: none;
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 20%;
  padding: 0 10px;
}
.footer-col h4 {
  font-size: 18px;
  color: #1f271b;
  margin-bottom: 25px;
  font-weight: 700;
  position: relative;
}

.footer-col h4::after {
  content: '';
  width: 0;
  height: 3px;
  background: #b80200;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.footer-col h4:hover::after {
  width: 50%;
  height: 2px;
}

.footer-col ul li {
  margin-bottom: 8px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  color: #1f271b;
  display: block;
  transition: 0.4s all ease;
  
}
.footer-col ul li a:hover {
  color: #b80200;
  padding-left: 10px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 2px 2px 0;
  background-color: #b80200;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 25px;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #b80200;
  background-color: #fff;
}

/* ---------Media Queries----- */
@media (max-width: 767px) {
  .about-us-right {
    display: none;
  }
  .footer-col {
    width: 30%;
    margin-bottom: 30px;
  }
}
@media (max-width: 540px) {
  .footer-col {
    width: 50%;
  }
}
